name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Install Dependencies
        run: |
          npm i -g pnpm
          pnpm install --frozen-lockfile

      - name: Lint + Fmt Check
        run: pnpm run lint

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Test Local Action
        uses: ./
        with:
          privkey: ajhkj
          release-id: 123

      - name: Check if ahqstore cli is installed
        run: ahqstore help
